@import url("base.css");

body{
    background-color: #0a0a0a;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}
.nav{
    display: flex;
    background-color: #2e2e2e;
    justify-content: space-between;
    border-bottom: 1px solid #6f6f6f;
    padding: 1rem 4rem;
    align-items: center;
    height: 88px;
}
h1{
    font-weight: 700;
    font-size: 32px;
    color: #ff8a2e;
}
a{
    text-decoration: none;
}
input[type='search'] {
    padding: 1rem;
    width: 524px;
    height: 56px;
    background-color: var(--deepgray);
    border: 1px solid #6f6f6f;
    border-radius: 8px;
    color: var(--white);
}
input[type='search']:focus{
    border: 1.5px solid #6f6f6f;
    outline: none;
}
input[type='search']::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    background: url(/images/searchicon.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 2.1rem;
}
.nav-icons{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile-image img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.content-container{
    height: 100%;
    background-color: var(--deepgray);
    display: flex;
}
.sidebar{
    display: flex;
    width: 304px;
    background-color: var(--gray);
}
.smallside{
    width: 72px;
    background-color: var(--deepgray);
}